<style>   


    p { 
        font-size: 20pt;
        color: navy;
        font-family: "Indie Flower", cursive;
       }
        
        
        
    img {
        width: 200px;
    }
        
    .wrapper-div div {
        width: 100px;
        height: 100px;
        color: navy;
        padding: 10px;
        margin-right: 10px;
    }

    .wrapper-div span {
        font-style: italic;
    }        
        

   .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: purple;
      border: 2px gray;
      color: gray;
      text-align: center;
    }
</style>    
